@mixin wpmdc-clear {
	&::before,
	&::after {
		clear: both;
		content: '';
		display: table;
		table-layout: fixed;
		width: 100%;
	}
}

@mixin wpmdc-center {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin wpmdc-float($direction: left, $clear: true) {
	@if ($clear) {
		clear: $direction;
	}
	display: inline-block;
	float: $direction;
	@if ($direction == left) {
		margin-right: 24px;
	} @else {
		margin-left: 24px;
	}
}

@mixin wpmdc-overlay {
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

@mixin wpmdc-background-cover($position: center) {
	background-position: $position;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin wpmdc-ramp($from: rgba(0, 0, 0, 0.12), $to: rgba(0, 0, 0, 0.48), $direction: bottom) {
	background: linear-gradient(to $direction, $from 0%, $to 100%);
}

@mixin wpmdc-contain($device: 'desktop') {
	@if ($device == 'phone') {
		max-width: $wpmdc-contain-phone-width;
	} @else if ($device == 'tablet') {
		max-width: $wpmdc-contain-tablet-width;
	} @else {
		max-width: $wpmdc-contain-desktop-width;
	}
}

@mixin wpmdc-adjust-children {
	> *:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

@mixin wpmdc-inherit-ripple-color {
	&::after,
	&::before {
		background-color: currentColor;
	}
}

@mixin wpmdc-flex($flow: row, $align: flex-start, $justify: flex-start) {
	align-items: $align;
	display: flex;
	flex-flow: $flow;
	justify-content: $justify;
}
