.wpmdc-chip {
	border: 0;

	&:disabled {
		background-color: rgba(mdc-theme-prop-value(on-surface), 0.08); // sass-lint:disable-line no-color-literals
		box-shadow: 0;
		color: $mdc-button-disabled-ink-color;
		pointer-events: none;

		.mdc-chip__icon {
			color: $mdc-button-disabled-ink-color;
		}
	}
}
