.wpmdc-drawer {

	.mdc-drawer__surface {
		@include mdc-theme-prop(background-color, 'surface');
		@include mdc-theme-prop(color, 'on-surface');
	}

	.mdc-drawer__header {
		@include mdc-theme-prop(background-color, 'primary');
		@include mdc-theme-prop(color, 'on-primary');

		.avatar {
			margin-bottom: auto;
		}

		a {
			@include mdc-theme-prop(color, 'on-primary');
		}
	}

	.mdc-drawer__header-content {
		@include wpmdc-flex(column, flex-start, flex-end);
		z-index: 1;
	}

	.widget {

		.wpmdc-select {
			border-radius: 0;
			width: 100%;

			select {
				border-radius: 0;
			}
		}
	}
}

.admin-bar {

	.wpmdc-drawer {
		height: calc(100% - #{$wpmdc-admin-bar-height-mobile});
		top: $wpmdc-admin-bar-height-mobile;
	}
}

@media screen and (min-width: 783px) {
	.admin-bar {

		.wpmdc-drawer {
			height: calc(100% - #{$wpmdc-admin-bar-height-desktop});
			top: $wpmdc-admin-bar-height-desktop;
		}
	}
}
