.wpmdc-hero {
	@include wpmdc-flex(column, center, center);
	@include wpmdc-background-cover;
	@include mdc-theme-prop(background-color, 'primary');
	@include mdc-theme-prop(color, 'on-primary');
	min-height: 80vh;
	position: relative;

	&__content {
		@include wpmdc-flex(column, center, center);
		@include wpmdc-adjust-children;
		position: relative;
		text-align: center;
		z-index: 1;
	}

	.mdc-layout-grid {
		width: 100%;
	}

	&::before {
		@include wpmdc-overlay;
		@include wpmdc-ramp;
		content: '';
	}
}
