.wpmdc-top-app-bar {
	top: 0;
	z-index: 5;

	.avatar {
		border: 2px solid;
		margin-left: 8px;
		margin-right: 0;
	}
}

*[dir='rtl'] {

	.wpmdc-top-app-bar {
		top: 0;
		z-index: 5;

		.avatar {
			margin-left: 0;
			margin-right: 8px;
		}
	}

}

.admin-bar {

	.wpmdc-top-app-bar {
		margin-top: 46px;
	}
}

@media screen and (min-width: 783px) {
	.admin-bar {

		.wpmdc-top-app-bar {
			margin-top: 32px;
		}
	}
}
