.wpmdc-top-app-bar {
	top: 0;
	z-index: 5;

	&__graphic {
		border: 2px solid;
		border-radius: 50%;
		height: 40px;
		margin-left: 8px;
		margin-right: 0;
		width: 40px;
	}
}

*[dir='rtl'] {

	.wpmdc-top-app-bar {
		top: 0;
		z-index: 5;

		&__graphic {
			margin-left: 0;
			margin-right: 8px;
		}
	}

}

.admin-bar {

	.wpmdc-top-app-bar {
		margin-top: $wpmdc-admin-bar-height-mobile;
	}
}

@media screen and (min-width: 783px) {
	.admin-bar {

		.wpmdc-top-app-bar {
			margin-top: $wpmdc-admin-bar-height-desktop;
		}
	}
}
